body {
  
    color: #67ede8;
    background-color: black;
    width: 90%;
    height: 40%;
    border: 1px solid black;
    border-radius: 300px 10px 300px 10px;
      
    
}

#contenido {
    background-color: cornflowerblue;
    font-family: 'Courier New', Courier, monospace;
    color:ghostwhite;
    text-align: center;
    border-radius: 300px 10px 300px 10px;
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    margin: 50px
    

}

#excusahtml {
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 300px 10px 300px 10px;

}